body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  margin-left: 10px;
  border: none;
  font-size: 15px;
  cursor: pointer;
   margin-bottom: 60px;
}

.chat-input {
  padding: 13px 25px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
  margin-bottom: 60px;
 
}

.container {
  display: flex;
}

.app-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;

   

}

.chat-message-text {
  background-color: rgb(233, 227, 227);
  display: inline;
  padding: 15px 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  margin-left: 20px;
  max-width: 300px;
}
.chat-message-robot {
  display: flex;
  justify-content: start;
  align-items: center;

  padding: 15px 20px;
}
.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
  margin: 20px;
}

.user-img {
  width: 50px;
}

.robot-img {
  width: 50px;
  border-radius: 30px;
}


.chat-container{
  flex-grow: 1;
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}